<template>
  <div>
    <h1>HoyVoy Frontend</h1>
    <input type="date" v-model="input.date">
    <button v-on:click="sendData()">Send</button>
    <br />
    <br />
    <div v-if="response.data">
      <p>Is leap year? <strong>{{ response.data.leapYear}}</strong></p>
      <p>Day: <strong>{{ response.data.day }}</strong></p>
    </div>
    <div v-if="error">
      {{ error }}
    </div>
  </div>
</template>

<script>
    // importing axios library
    import axios from "axios";

    export default {
        name: 'Date',
        data () {
            return {
                ip: "",
                // Form attributes
                input: {
                    date: "",
                },
                // Page properties
                response: "",
                error: ""
            }
        },
        methods: {
            sendData() {
                axios({
                    method: "POST",
                    "url": "http://127.0.0.1:8000/api/dates",
                    "data": this.input,
                    "headers": {
                        // Setting content type to JSON
                        "content-type": "application/json",
                        // Adding CORS headers
                        "Access-Control-Allow-Origin": "*",
                        "Access-Control-Allow-Methods": "GET,PUT,POST,DELETE,OPTIONS",
                        "Access-Control-Allow-Headers": "Content-type,Accept,X-Access-Token,X-Key",
                    }
                }).then(result => {
                    // Getting response data
                    this.response = result.data;
                }).catch(error => {
                    // Handle server error
                    this.error = error;
                    if (error.response) {
                        this.error = error.response.data.errors.date[0];
                    }

                });
            }
        }
    }
</script>

<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  textarea {
    width: 600px;
    height: 200px;
  }
</style>